* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 800px;
    display: flex;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.8s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.4s;
}

.card-content {
    padding: 20px;
    background-color: lightgrey;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card:hover img {
    transform: scale(1.1);
}