h1 {
    background-color: violet;
    color: black;
}

p {
    background-color: violet;
    color: black;
}

div {
    background-color: violet;
    color: black;
}

span {
    background-color: violet;
    color: black;
}


h3 {
    background-color: violet;
    color: black;
}